@font-face {
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
    margin: unset;
    background: #F4F4F4;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #42AAFF;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
header p {
    font-size: 16px;
    color: #F4F4F4;
}
.links{
    font-size: 16px;
    display: flex;
    gap: 10px;
    color: #F4F4F4;
}
main{
    display: flex;
    width: 1920px;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.h {
    font-size: 48px;
    color: #42AAFF;
}
.h2 {
    font-size: 24px;
    color: #42AAFF;
}